<a href="https://colab.research.google.com/github/Bayinc/GOOGLECOLAB/blob/main/clase_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Contenidos de esta clase
- Función print()
- Tipos de datos
- Variables
- Operaciones matemáticas
- Función input()

# 1.Variables y Tipos de datos
- En Python tenemos diversos tipos de datos, como por ejemplo números, textos, etc.

- Las variables son valores almacenados en memoria, y que solemos utilizar en un futuro.

- Podemos almacenar diversos tipos de datos en las variables.

## 1.1 Strings (str)
- En Python, "str" es el tipo de dato que representa cadenas de texto (strings en inglés).

- Una cadena (o string) es simplemente una secuencia de caracteres encerrada entre comillas.

- Un string puede incluir letras, números, símbolos y espacios.

In [ ]:
# Por defecto colab muestra el último resultado
"Isaac"

'Isaac'

In [ ]:
# Acá solo mostrará "IPS DATAX"
"Isaac"
"IPS DATAX"

'IPS DATAX'

In [ ]:
# Print muestra el resultado, sin importar si es último o no
# Print será clave en nuestro trabajo
# Ojo, print muestra el resultado sin comillas ""
print("Isaac")
print("IPS DATAX")

Isaac
IPS DATAX

In [ ]:
# Para Python no suele importar si usamos comillas dobles o simples
print("Isaac")
print('Isaac')

Isaac
Isaac

In [ ]:
# Crearemos una variable llamada "nombre"
# En "nombre" almacenaremos el texto "Isaac"
nombre = "Isaac"

In [ ]:
# Imprime la variable "nombre"
print(nombre)

Isaac

La lógica de almacenar valores en variables es clave para el trabajo con cualquier lenguaje de programación.

In [ ]:
apellido = "Pérez"

In [ ]:
print(apellido)

Pérez

In [ ]:
# Podemos unir textos con el símbolo "+"
# El símbolo "+" también se utiliza para sumar números
nombre+apellido

'IsaacPérez'

In [ ]:
print(nombre+apellido)

IsaacPérez

In [ ]:
# Podemos añadir espacios en blanco y cualquier texto
print(nombre+" "+apellido)

Isaac Pérez

In [ ]:
espacio = " "

In [ ]:
print(nombre+espacio+apellido)

Isaac Pérez

In [ ]:
# Muestra el tipo de dato indicado
type(nombre)

str

In [ ]:
# ¿Y si unimos un str + int?
"perro"+15

In [ ]:
print("perro"+15)

## 1.2 Integers (int)
- En Python, int es el tipo de dato que representa números enteros, es decir, números sin decimales.

- Esto incluye tanto números positivos, negativos y el cero.

In [ ]:
a = 10

In [ ]:
print(a)

10

In [ ]:
b = 15

In [ ]:
print(b)

15

In [ ]:
# Usamos "+" para sumar números
print(a+b)

25

In [ ]:
# Podemos hacer varias operaciones en la misma celda
c = a*b
print(c)

150

In [ ]:
type(c)

int

## 1.2 Booleanos (bool)
- Son un tipo de dato que tiene dos posibles valores, verdadero o falso.
- Se utilizan bastante en condicionales, ciclos, y muchas cosas más.
- Verdadero se asocia a 1 y falso se asocia a 0.

In [ ]:
a = True

In [ ]:
b = False

In [ ]:
type(a)

bool

In [ ]:
type(b)

bool

In [ ]:
True + True

2

In [ ]:
# Podemos evaluar operaciones relacionales
# En este caso evaluaremos si 10 es mayor que 5
10>5

True

In [ ]:
# Podemos analizar el tipo de dato de la operación realizada
type(10>5)

bool

# 2.Operaciones matemáticas
- Los símbolos son muy similares a los que solemos utilizar en nuestro día a día.
- suma (+)
- resta (-)
- división (/)
- mútiplicación (*)

In [ ]:
a = 15

In [ ]:
b = 20

In [ ]:
c = a+a*b
print(c)

315

In [ ]:
# Podemos utilizar variables para las operaciones matemáticas
peso = 80
altura = 1.80

IMC = peso/(altura*altura)

print(IMC)

24.691358024691358

# 3.Obtener valores
- Podemos hacer que la computadora nos pida insertar información.
- Esta información suele utilizarse para otro tipo de operaciones.
- En este caso usaremos "input" para capturar los valores que insertemos.

In [ ]:
# Capturaremos el valor insertado y lo almacenaremos en "a"
a = input()

perro

In [ ]:
print(a)

perro

In [ ]:
# Podemos añadir un mensaje indicando lo que se debe ingresar
b = input("Ingresa tu país")

Ingresa tu paísColombia

In [ ]:
print(b)

Chile

In [ ]:
print("Tu país es: ")

Tu país es:

In [ ]:
# Imprimimos un texto plano junto con el valor capturado
print("Tu país es: "+b)

Tu país es: Colombia

In [ ]:
# Capturaremos dos valores y luego realizaremos una operación con los datos obtenidos
nombre = input("Ingresa tu nombre: ")
edad = input("Ingresa tu edad: ")

print("Tu nombre es "+nombre+" y tu edad es "+edad)

Ingresa tu nombre: Isaac
Ingresa tu edad: 29
Tu nombre es Isaac y tu edad es 29

In [ ]:
# Calcularemos el IMC en base a los datos solicitados
peso = input("Ingresa tu peso: ")
altura = input("Ingresa tu altura: ")

IMC = peso/(altura*altura)
print(IMC)

Podemos ver que da error.

Esto es porque "input" por defecto transforma todo en str, por lo que debemos realizar un ajuste.

In [ ]:
# Ahora utilizaremos la función int() para convertir el str en número entero

peso = int(input("Ingresa tu peso (kg): "))
altura = int(input("Ingresa tu altura (en centímetros): "))

IMC = peso/(altura/100*altura/100)
print(IMC)

Ingresa tu peso (kg): 80
Ingresa tu altura (en centímetros): 180
24.691358024691358

- Ojo, podríamos hacer algo como print("Tu IMC es de: "+IMC), pero nos da un error al sumar número con textos (esto se soluciona convirtiendo el número a str)
- Más allá de la operación, que podría ser mejorable, lo interesante es que escribimos un código que tiene una finalidad útil, calcular el IMC.

# Conclusiones:
- print() es muy útil, y lo utilizaremos demasiado en nuestro trabajo.
- Existen diversos tipos de datos, lo que vimos es una pincelada.
- Las variables son útiles para almacenar valores y reutilizarlos en un futuro.
- Podemos interactuar con la computadora y extraer valores para diversos usos.
- input() convierte todo a texto y print no puede usar "+" entre textos y números.