<a href="https://colab.research.google.com/github/Bayinc/GOOGLECOLAB/blob/main/Clase_7.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Contenidos de esta clase

- Procesamiento de datos reales en Python
- Trabajo con "Dataframes"

# 1. Revisión de los datos

- Antes de iniciar es importante descatar que estos son datos reales obtenidos en una pequeña encuesta realizada por IPS DATAX.
- Entiéndase **dataframes** como la típica tabla de Excel, a pesar de que no es lo mismo, pero es similar.

In [ ]:
# Cargamos la librería

import pandas as pd

In [ ]:
# Cargamos los datos

datos = pd.read_excel("/content/Webinar.xlsx")

In [ ]:
# Revisamos las primeras filas

datos.head(10)

,¿Edad?,Carrera profesional u oficio,Otras herramientas/lenguajes que te gustaría aprender:
0,27,Ingeniería en sistemas,"R, Power BI, SQL"
1,23,Economía,"R, Power BI"
2,27,Farmacéutica,"R, Power BI, SQL"
3,26,Geógrafo,"Power BI, SQL"
4,27,Ingeniero Civil en Automatización,"R, Power BI, SQL"
5,27,Estudiante doctoral,"R, Power BI"
6,36,Economista,"R, Power BI, SQL"
7,35,Analista,"Power BI, SQL"
8,37,Académico,Power BI
9,23,Lic. En Tecnología Ambiental,"R, Power BI, SQL"

- Podemos observar el tipo de datos en cada columna y además que los nombres de las columnas pueden ser muy largos.
- Es recomendable que los nombres de columnas estén abreviados, por un tema de trabajo.

In [ ]:
# El atributo "dtypes" muestra el nombre y tipo de dato de cada columna

print(datos.dtypes)

¿Edad?                                                    object
Carrera profesional u oficio                              object
Otras herramientas/lenguajes que te gustaría aprender:    object
dtype: object

In [ ]:
# El atributo "columns" muestra el nombre de las columnas del dataframe

datos.columns

Index(['¿Edad? ', 'Carrera profesional u oficio',
       'Otras herramientas/lenguajes que te gustaría aprender:'],
      dtype='object')

In [ ]:
# El método "rename" se utiliza para cambiar el nombre de las columnas
# Para utilizar "rename" es necesario indicar que se hace mediante diccionarios

datos = datos.rename(columns={
    '¿Edad? ': 'Edad',
    'Carrera profesional u oficio':'Carrera_Oficio',
    'Otras herramientas/lenguajes que te gustaría aprender:':'Aprender'})

In [ ]:
# Revisemos el nombre de las columnas

datos.columns

Index(['Edad', 'Carrera_Oficio', 'Aprender'], dtype='object')

In [ ]:
#Muestra los valores de la columna "Edad"

datos['Edad']

0      27
1      23
2      27
3      26
4      27
       ..
276    21
277    31
278    22
279     J
280    35
Name: Edad, Length: 281, dtype: object

In [ ]:
#Muestra los valores únicos de la columna "Edad"
datos['Edad'].unique()

array([27, 23, 26, 36, 35, 37, 25, 31, 24, 33, 22, 30, 28, 34, 44, 29, 32,
       19, '22 años', 41, 39, 40, 45, '29 años', 42, 43, 21, 38, 46, '.',
       15, 'J'], dtype=object)

In [ ]:
# En la columna "Edad" guardamos la "Edad" en formato numérico, y si es un texto, lo guarda como Nan
datos['Edad'] = pd.to_numeric(datos['Edad'], errors='coerce')

In [ ]:
# En "datos" guarda "datos" pero sin los valores na de la columna "Edad"
datos = datos.dropna(subset=['Edad'])

In [ ]:
datos['Edad'].unique()

array([27., 23., 26., 36., 35., 37., 25., 31., 24., 33., 22., 30., 28.,
       34., 44., 29., 32., 19., 41., 39., 40., 45., 42., 43., 21., 38.,
       46., 15.])

In [ ]:
print(datos.dtypes)

Edad              float64
Carrera_Oficio     object
Aprender           object
dtype: object

In [ ]:
# Realiza un recuento de los valores de la columna "Aprender"
datos['Aprender'].value_counts()

Aprender
R, Power BI, SQL    120
Power BI, SQL        51
R                    31
Power BI             19
SQL                  19
R, Power BI          18
R, SQL               16
Excel                 1
Name: count, dtype: int64

In [ ]:
# Crea un dataframe llamado "tabla" con el resultado anterior
tabla = datos['Aprender'].value_counts()

In [ ]:
# Guarda en un excel llamado "tabla_exportada" la tabla "tabla" que recién creamos
tabla.to_excel('/content/tabla_exportada.xlsx')

# Conclusiones

* Es clave analizar y procesar datos, y pandas nos ofrece muchísimas herramientas para hacerlo.
* En el mundo real, la mayoría de las veces los datos no están limpios, por lo que dedicaremos mucho tiempo en su procesamiento.